backend/vendor/
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/data/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/
backend/.phpunit.result.cache

frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

.DS_Store
*.swp
.idea/
.vscode/
